#header{
    background-color: white;
    border: 1px;
    border-color: black;


}

.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

nav ul li{
    margin: 10px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 18px;
    content: ''; /* Necessary for ::after to display */
    transform: translateY(-50%); /* Center vertically */
    transition: opacity 0.3s ease; /* Smooth transition for appearance */
}

nav ul li a:hover {
    background-color: rgb(255, 240, 240);
    opacity: 1; /* Box becomes visible on hover */
}
